/**
 * panel CSS
 *
 * @package SICOADG
 * @author Alejandro Morelos <alejandro.morelos@jarwebdev.com>
 */

body{
	margin:0;
	padding:0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}