/* Vars ----------------------------------------------------*//* Mixins ----------------------------------------------------*//*  slider layout ----------------------------------------------------*/.lof-slidecontent,
.main-slider-content {
  width: 940px;
  height: 367px;
}
.lof-slidecontent {
  position: relative;
  overflow: hidden;
  height: 440px;
  /* Extra Space for the navigator 367 + 73 */

  /* Description ----------------------------------------------------*/
  /* Navigator ----------------------------------------------------*/
}
.lof-slidecontent .preload {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  text-align: center;
  background: #ffffff;
}
.lof-slidecontent .preload div {
  height: 100%;
  width: 100%;
  background: transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;
}
.lof-slidecontent .sliders-wrapper {
  position: relative;
  height: 100%;
  width: 900px;
  z-index: 3px;
  overflow: hidden;
}
.lof-slidecontent ul.sliders-wrap-inner {
  overflow: hidden;
  background: transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;
  padding: 0px;
  margin: 0;
  position: absolute;
  overflow: hidden;
}
.lof-slidecontent ul.sliders-wrap-inner li {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  float: left;
  position: relative;
}
.lof-slidecontent .lof-opacity li {
  position: absolute;
  top: 0;
  left: 0;
  float: inherit;
}
.lof-slidecontent .item-meta a:hover {
  text-decoration: underline;
}
.lof-slidecontent .item-meta i {
  font-size: 70%;
}
.lof-slidecontent .slider-description {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  z-index: 100px;
  position: absolute;
  bottom: 50px;
  left: 0px;
  width: 350px;
  background: #2d2d2d;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
  min-height: 100px;
  padding: 15px;
  font-size: 11px;
  line-height: 1.5em;
}
.lof-slidecontent .slider-description p {
  color: #dcd2be;
}
.lof-slidecontent .slider-description h4 {
  font-family: "Voltaire", Arial, Verdana, sans-serif;
  margin: 10px 0;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.lof-slidecontent .slider-description a.link {
  display: table;
  margin-top: 18px;
  padding: 3px;
  background: #ccc;
  color: #000;
}
.lof-slidecontent .main-slider-content:hover .slider-description {
  opacity: 1;
}
.lof-slidecontent .navigator-content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0px 0px;
}
.lof-slidecontent .navigator-content .button-next,
.lof-slidecontent .navigator-content .button-previous,
.lof-slidecontent .navigator-content .button-control {
  opacity: 0;
  position: absolute;
  bottom: 73px;
  right: 0px;
  display: block;
  width: 30px;
  height: 30px;
  color: #FFF;
  cursor: pointer;
}
.lof-slidecontent .navigator-content .button-next {
  float: left;
  text-indent: -999px;
  background: url(../images/arrow-right-dark.png) center center no-repeat #8E8D8D;
}
.lof-slidecontent .navigator-content .button-previous {
  float: left;
  text-indent: -999px;
  right: 30px;
  background: url(../images/arrow-left-dark.png) center center no-repeat #8E8D8D;
}
.lof-slidecontent .navigator-content .button-control {
  float: left;
  text-indent: -999px;
  right: 60px;
  background: url(../images/button-control.png) center center no-repeat #8E8D8D;
}
.lof-slidecontent .navigator-content .hover-stop,
.lof-slidecontent .navigator-content .action-start {
  background: url(../images/button-control-play.png) center center no-repeat rgba(0, 0, 0, 0.8);
}
.lof-slidecontent .navigator-wrapper {
  position: relative;
  z-index: 10;
  height: 180px;
  width: 1310px;
  overflow: hidden;
  color: #fff;
  float: left;
}
.lof-slidecontent .navigator-wrap-inner {
  top: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
}
.lof-slidecontent .navigator-wrap-inner li {
  cursor: hand;
  cursor: pointer;
  list-style: none;
  padding: 0;
  margin-left: 0px;
  overflow: hidden;
  float: left;
  display: block;
  text-align: center;
  background: #8E8D8D;
}
.lof-slidecontent .navigator-wrap-inner li img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.lof-slidecontent .navigator-wrap-inner li img:hover {
  opacity: 0.2;
}
.lof-slidecontent:hover .button-previous {
  opacity: 1;
}
.lof-slidecontent:hover .button-next {
  opacity: 1;
}
.lof-slidecontent:hover .button-control {
  opacity: 1;
}
