/* Vars ----------------------------------------------------*//* Mixins ----------------------------------------------------*//* Colors and backgrounds  ----------------------------------------------------*/body {
  color: #727272;
  background: #f1ede8 url(../images/noise-all.png);
}
body a:hover {
  color: #cb5432;
}
a {
  color: #cb5432;
}
header,
footer {
  background: #000;
}
/* Selection colours (easy to forget) */
::selection {
  background: #ccc;
}
::-moz-selection {
  background: #cb5432;
}
img::selection {
  background: #cb5432;
}
img::-moz-selection {
  background: #cb5432;
}
#headline,
.masthead {
  color: #444444;
}
/* NAVIGATION ------------------------------------------------------------*/
#nav > li > a {
  color: #B7B7B7;
}
#nav > li:hover > a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-top: 3px solid #ccc;
  color:#8E8D8D;
}
#nav span:hover {
  -webkit-transform: translate(-10px, -3px);
  -moz-transform: translate(-10px, -3px);
  -o-transform: translate(-10px, -3px);
  transform: translate(-10px, -3px);
}
#nav > li.current-menu-item > a,
#nav > li.current_page_item > a {
  border-top: 3px solid #ccc;
}
#nav .sfHover ul {
  background: #f8f5f2;
}
#nav .sfHover ul li a {
  color: #444444;
}
#nav .sfHover ul li a:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #cb5432;
}
/* MAIN ------------------------------------------------------------*/
.multiplebgs #main {
  background-image: url(../images/main-bg.png), url(../images/main-bg.png);
  background-repeat: repeat-x, repeat-x;
  background-position: bottom left, top left;
}
.no-multiplebgs #main {
  background: #f1f1f1 url(../images/main-bg.png) repeat-x top left;
}
/* FILTERED ITEMS ----------------------------------------------------*/#filter-buttons li a {
  color: #444;
  border-bottom: 2px solid transparent;
}
#filter-buttons li a:hover,
#filter-buttons li a.selected {
  border-bottom: 2px solid #444;
}
#filter-container figure {
  background: #f8f5f2;
}
#filter-container figure .thumb {
  background: #cb5432 url(../images/icon-link.png) center center no-repeat;
}
#filter-container figure figcaption .heading {
  color: #444444;
}
#filter-container figure figcaption .heading:hover {
  color: #cb5432;
}
#filter-container figure .readmore {
  color: #444444;
}
#filter-container figure .readmore:hover h5 {
  color: #cb5432;
}
/* PORTFOLIO ----------------------------------------------------*/#portfolio-content #filter-container a {
  color: #888;
}
#portfolio-content #filter-container a:hover {
  color: #cb5432;
}
#portfolio-content .project-pager a {
  color: #444444;
}
#portfolio-content .project-pager a:hover {
  color: #cb5432;
}
#portfolio-content #project-box {
  background: #f8f5f2;
}
#portfolio-content #project-box .info .launch:hover {
  color: #f1f1f1;
  background: #cb5432;
}
/* RELATED PROJECTS ---------------------------------------------------*/
.related-projects figure .heading {
  color: #444444;
}
.related-projects figure .heading:hover {
  color: #cb5432;
}
.related-projects figure .thumb {
  background: #cb5432 url(../images/icon-link.png) no-repeat center center;
}
/* CONTACT  ----------------------------------------------------*/#map-holder {
  background: #f8f5f2;
}
/* BLOG ------------------------------------------------------------*/
#posts-list article .box {
  background: #f8f5f2 url(../images/meta-bg.png) repeat-y top right;
}
#posts-list article .box .entry-date {
  color: #dcd2be;
  background: #2d2d2d;
}
#posts-list article .box .excerpt .post-heading {
  color: #444444;
}
#posts-list article .box .excerpt .post-heading:hover {
  color: #cb5432;
}
#posts-list article .box .excerpt .learnmore {
  background: #2d2d2d;
  color: #f8f5f2;
}
#posts-list article .box .excerpt .learnmore:hover {
  background: #cb5432;
}
#posts-list article .box .meta a {
  color: #656360;
}
#posts-list article .box .meta a:hover {
  color: #cb5432;
}
#posts-list article.format-standard .feature-image {
  background: #cb5432 url(../images/icon-link.png) no-repeat center center;
}
#posts-list article.format-image .feature-image {
  background: #cb5432 url(../images/icon-popup.png) no-repeat center center;
}
body.single #posts-list article {
  background: #f8f5f2;
}
body.single #posts-list .box .meta {
  background: #f8f5f2 url(../images/meta-bg-vertical.png) repeat-x top right;
}
/* PAGE NAVIGATION ------------------------------------------------------------*/
#main .page-navigation a {
  color: #444444;
}
#main .page-navigation a:hover {
  color: #cb5432;
}
/* SIDEBAR ------------------------------------------------------------*/
#sidebar .cat-item a .post-counter,
#sidebar .page_item a .post-counter {
  color: #656360;
}
/* SLIDER ----------------------------------------------------*/.lof-slidecontent .slider-description {
  color: #e6e6e6;
}
.lof-slidecontent .slider-description a {
  color: #FFF;
}
.lof-slidecontent .slider-description a.readmore {
  color: #fcb019;
}
.lof-slidecontent .active {
  border-top: 3px #8E8D8D solid;
}
/* FOOTER ----------------------------------------------------*/footer {
  color: #B7B7B7;
}
footer h4 {
  color: #fff;
}
footer a {
  color: #727272;
}
footer a:hover {
  color: #fff;
}
