/* Vars ----------------------------------------------------*//* Mixins ----------------------------------------------------*//* RECENT POSTS -----------------------------------------------*/
.recent-post {
  margin-bottom: 21px;
}
.recent-post .thumb {
  display: block;
  float: left;
  background: #f1f1f1;
  line-height: 0em;
  padding: 3px;
  margin-right: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}
.recent-post span {
  display: block;
}
/* CAT ITEMS -----------------------------------------------*/
.widget-cols .cat-item a,
.widget-cols .page_item a {
  display: block;
  border-bottom: 1px solid #666;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background: url(../images/arrow-right.png) no-repeat 0px 0px;
  padding-left: 17px;
}
.widget-cols .cat-item a .post-counter,
.widget-cols .page_item a .post-counter {
  color: #f1f1f1;
}
.widget-cols .cat-item:last-child a,
.widget-cols .page_item:last-child a {
  border-bottom: none;
}
