<?php
/**
 * Error layout
 *
 * @author Adrian Ancona Novelo <soonick5@yahoo.com.mx>
 */

echo $this->doctype().PHP_EOL;
?>

<html>
<head>
<?php
    echo $this->headTitle().PHP_EOL;
    echo $this->headMeta().PHP_EOL;
?>
</head>
<body>
    <p>
    <?php
        echo $this->errorMessage;
        echo "error";
    ?>
    </p>
    <?php
        var_dump($this->errorTrace);
    ?>
</body>
</html>
