</div><!-- ENDS WRAPPER -->
		</div>
		<!-- ENDS MAIN -->
        <!-- -------------------------------------------- end content -------------------------------------- -->
        <!-- FOOTER -->
		<footer>
			<div class="wrapper cf">

				<!-- widgets -->
				<ul  class="widget-cols cf">
					<li class="first-col">

						<div class="widget-block">
							<h4>TAGS</h4>
                            <p><a href="/services/" >Desarrollo Web</a>, <a href="/services/" >Sistemas Web</a>,
                                 <a href="/services/" >SEO</a>, <a href="/services/" >Imagen corporativa</a>,
                                 <a href="/services/" >Diseño Gráfico</a>.</p>
						</div>
					</li>

					<li class="second-col">

						<div class="widget-block">
							<h4>CONTACTANOS</h4>
							<p>Para cualquier informacion escribanos a <a href="mailto:info@jarwebdev.com">info@jarwebdev.com</a>.</p>
							<p>Visita nuestra pagina de  <a href="/contact/" >contacto</a>.</p>
						</div>

					</li>

					<li class="third-col">

						<div class="widget-block">
                            <h4>TWITTER</h4>
							<div id="tweets" class="footer-col tweet">

		         			</div>
		         		</div>

					</li>

					<li class="fourth-col">

						<div class="widget-block">
							<h4>MAPA DEL SITIO</h4>
							<ul>
								<li class="cat-item"><a href="/" >Jaguar Desarrollo Web</a></li>
								<li class="cat-item"><a href="/us/" >Nosotros</a></li>
								<li class="cat-item"><a href="/services/" >Servicios</a></li>
								<li class="cat-item"><a href="/projects/" >Proyectos</a></li>
								<li class="cat-item"><a href="/contact/" >Contactanos</a></li>
							</ul>
						</div>

					</li>
				</ul>
				<!-- ENDS widgets -->


				<!-- bottom -->
				<div class="footer-bottom">
                    <div class="left">© 2012 <a href="http://jarwebdev.com" >JAGUAR Desarrollo Web</a></div>
						<ul id="social-bar" class="cf sb">
							<li><a href="http://www.facebook.com"  title="Become a fan" class="facebook">Facebbok</a></li>
							<li><a href="http://www.twitter.com/jarwebdev" title="Follow my tweets" class="twitter_bird"></a></li>
							<li><a href="http://plus.google.com" title="Enter my circles" class="plus"></a></li>
						</ul>
				</div>
				<!-- ENDS bottom -->

			</div>
		</footer>
		<!-- ENDS FOOTER -->
