<!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->

        <!-- JS -->
        <?php $this->headScript()->appendFile('/js/jquery-1.7.1.min.js'); ?>
        <?php $this->headScript()->appendFile('/js/custom.js'); ?>
        <?php $this->headScript()->appendFile('/js/tabs.js'); ?>
        <?php $this->headScript()->appendFile('/js/css3-mediaqueries.js'); ?>
        <?php $this->headScript()->appendFile('/js/jquery.columnizer.min.js'); ?>

        <!-- Isotope -->
        <?php $this->headScript()->appendFile('/js/jquery.isotope.min.js'); ?>

        <!-- Lof slider -->
        <?php $this->headScript()->appendFile('/js/jquery.easing.js'); ?>
        <?php $this->headScript()->appendFile('/js/lof-slider.js'); ?>
        <?php $this->headLink()->appendStylesheet('/css/lof-slider.css'); ?>
        <!-- ENDS slider -->

        <!-- Tweet -->
        <?php $this->headLink()->appendStylesheet('/css/jquery.tweet.css'); ?>
        <?php $this->headScript()->appendFile('/js/tweet/jquery.tweet.js'); ?>
        <!-- ENDS Tweet -->

        <!-- superfish -->
        <?php $this->headLink()->appendStylesheet('/css/superfish.css'); ?>
        <?php $this->headScript()->appendFile('/js/superfish-1.4.8/js/hoverIntent.js'); ?>
        <?php $this->headScript()->appendFile('/js/superfish-1.4.8/js/superfish.js'); ?>
        <?php $this->headScript()->appendFile('/js/superfish-1.4.8/js/supersubs.js'); ?>
        <!-- ENDS superfish -->

        <!-- prettyPhoto -->
        <?php $this->headScript()->appendFile('/js/jquery.prettyPhoto.js'); ?>
        <?php $this->headLink()->appendStylesheet('js/prettyPhoto/css/prettyPhoto.css'); ?>
        <!-- ENDS prettyPhoto -->

        <!-- poshytip -->
        <?php $this->headLink()->appendStylesheet('js/poshytip-1.1/src/tip-twitter/tip-twitter.css'); ?>
        <?php $this->headLink()->appendStylesheet('js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css'); ?>
        <?php $this->headScript()->appendFile('/js/poshytip-1.1/src/jquery.poshytip.min.js'); ?>
        <!-- ENDS poshytip -->

        <!-- JCarousel -->
        <?php $this->headScript()->appendFile('/js/jquery.jcarousel.min.js'); ?>
        <?php $this->headLink()->appendStylesheet('/css/carousel.css'); ?>
        <!-- ENDS JCarousel -->

        <!-- GOOGLE FONTS -->
        <link href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>

        <!-- modernizr -->
        <?php $this->headScript()->appendFile('/js/modernizr.js'); ?>

        <!-- SKIN -->
        <?php $this->headLink()->appendStylesheet('/css/skin.css'); ?>

        <!-- Less framework -->
        <?php $this->headLink()->appendStylesheet('/css/lessframework.css'); ?>


        <!-- flexslider -->
        <?php $this->headLink()->appendStylesheet('/css/flexslider.css'); ?>
        <?php $this->headScript()->appendFile('/js/jquery.flexslider.js'); ?>
        <?php $this->headLink()->appendStylesheet('/css/layout.css'); ?>
        <?php $this->headLink()->appendStylesheet('/css/style.css'); ?>
