<!-- HEADER -->
		<header>
			<div class="wrapper cf">

				<div id="logo">
					<a href="/"><img  src="../images/logo.png" alt="Jaguar Desarrollo Web"></a>
				</div>
                <?php echo $this->render('menu.phtml'); ?>
				<!-- SLIDER -->
				<div id="home-slider" class="lof-slidecontent">

					<div class="preload"><div></div></div>

					<!-- slider content -->
					<div class="main-slider-content" >
					<ul class="sliders-wrap-inner">
					    <li>
					          <img src="../images/01.jpg" title="" alt="Jaguar Desarrollo Web" />
					          <div class="slider-description">
					            <h4>Jaguar Desarrollo Web</h4>
					            <p>Somos una empresa dedicada a encontrar las mejores soluciones para sus necesidades.
                                    Desarrollamos y diseñamos paginas web para todo tipo de negocios, asi como sistemas
                                    administrativos. ¿Tienes duda sobre nuestros servicios? Contactanos.

					            <a class="link" href="/us/">Leer mas </a>
					            </p>
					         </div>
					    </li>

					    <li>
					          <img src="../images/02.jpg" title="" alt="Desarrollo Web Creativo" />
					          <div class="slider-description">
					            <h4>Creatividad</h4>
					            <p>Usamos la creatividad no solo para el diseño,
                                    tambien es una herramienta para desrrollar
                                    sistemas que faciliten el flujo de trabajo en su negocio.
                                    Una buena organizacion te proporciona mas tiempo de productividad.
					            <a class="link" href="/services/">Leer mas </a>
					            </p>
					         </div>
					    </li>

					    <li>
					          <img src="../images/03.jpg" title="" alt="alt" />
					          <div class="slider-description">
					            <h4>Crecimiento</h4>
					            <p>¿Por que es bueno tener una pagina web bien diseñada? Tener una pagina en internet
                                    te da al oportunidad de llegar a un numero mayor de personas.
                                    Sin embargo no es de gran untilidad si su imagen no refleja profesionalismo.
                                    Has crecer tu empresa y seleciona tu mercado. ¡Te ayudamos a megorar tu pagina!
					            <a class="link" href="#">Read more </a>
					            </p>
					         </div>
					    </li>

					    <li>
					          <img src="../images/04.jpg" title="" alt="alt" />
					          <div class="slider-description">
					            <h4>Lorem ipsum dolor</h4>
					            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est...
					            <a class="link" href="#">Read more </a>
					            </p>
					         </div>
					    </li>

					    <li>
					          <img src="../images/05.jpg" title="" alt="alt" />
					          <div class="slider-description">
					            <h4>Lorem ipsum dolor</h4>
					            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est...
					            <a class="link" href="#">Read more </a>
					            </p>
					         </div>
					    </li>
					  </ul>
					</div>
					<!-- ENDS slider content -->

					<!-- slider nav -->
					<div class="navigator-content">
					  <div class="navigator-wrapper">
					        <ul class="navigator-wrap-inner">
					           <li><img src="../images/01_thumb.jpg" alt="alt" /></li>
					           <li><img src="../images/02_thumb.jpg" alt="alt" /></li>
					           <li><img src="../images/03_thumb.jpg" alt="alt" /></li>
					           <li><img src="../images/04_thumb.jpg" alt="alt" /></li>
					           <li><img src="../images/05_thumb.jpg" alt="alt" /></li>
					        </ul>
					  </div>
					  <div class="button-next">Next</div>
					  <div  class="button-previous">Previous</div>
					  <!-- REMOVED TILL FIXED <div class="button-control"><span>STOP</span></div> -->
					</div>
					<!-- slider nav -->



				 </div>
				<!-- ENDS SLIDER -->




			</div>
		</header>
		<!-- ENDS HEADER -->
        <!-- ---------------------------------------------- content ---------------------------------------- -->
        <!-- MAIN -->
		<div id="main">
			<div class="wrapper cf">