<!-- HEADER -->
		<header>
			<div class="wrapper cf">

				<div id="logo">
					<a href="/"><img  src="../images/logo.png" alt="Jaguar Desarrollo Web"></a>
				</div>
                <?php echo $this->render('menu.phtml'); ?>





			</div>
		</header>
		<!-- ENDS HEADER -->
        <!-- ---------------------------------------------- content ---------------------------------------- -->
        <!-- MAIN -->
		<div id="main">
			<div class="wrapper cf">