<?php
/**
 * Main layout
 *
 * @author alejandro Morelos <alejandro.morelos@jarwebdev.com>
 */
$this->headScript()->appendFile('/js/jquery-1.7.1.min.js');
$this->headScript()->appendFile('/js/custom.js');
$this->headScript()->appendFile('/js/tabs.js');
$this->headScript()->appendFile('/js/css3-mediaqueries.js');
$this->headScript()->appendFile('/js/jquery.columnizer.min.js');
$this->headScript()->appendFile('/js/jquery.isotope.min.js');
$this->headScript()->appendFile('/js/jquery.easing.js');
$this->headScript()->appendFile('/js/lof-slider.js');
$this->headLink()->appendStylesheet('/css/lof-slider.css');
$this->headLink()->appendStylesheet('/css/jquery.tweet.css');
$this->headScript()->appendFile('/js/tweet/jquery.tweet.js');
$this->headLink()->appendStylesheet('/css/superfish.css');
$this->headScript()->appendFile('/js/superfish-1.4.8/js/hoverIntent.js');
$this->headScript()->appendFile('/js/superfish-1.4.8/js/superfish.js');
$this->headScript()->appendFile('/js/superfish-1.4.8/js/supersubs.js');
$this->headScript()->appendFile('/js/jquery.prettyPhoto.js');
$this->headLink()->appendStylesheet('js/prettyPhoto/css/prettyPhoto.css');
$this->headLink()->appendStylesheet('js/poshytip-1.1/src/tip-twitter/tip-twitter.css');
$this->headLink()->appendStylesheet('js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css');
$this->headScript()->appendFile('/js/poshytip-1.1/src/jquery.poshytip.min.js');
$this->headScript()->appendFile('/js/jquery.jcarousel.min.js');
$this->headLink()->appendStylesheet('/css/carousel.css');
$this->headScript()->appendFile('/js/modernizr.js');
$this->headLink()->appendStylesheet('/css/skin.css');
$this->headLink()->appendStylesheet('/css/lessframework.css');
$this->headLink()->appendStylesheet('/css/flexslider.css');
$this->headScript()->appendFile('/js/jquery.flexslider.js');
$this->headLink()->appendStylesheet('/css/layout.css');
$this->headLink()->appendStylesheet('/css/style.css');
echo $this->doctype() . PHP_EOL;
?>

<html class="no-js">
    <head>
        <?php
        echo $this->headTitle() . PHP_EOL;
        echo $this->headMeta() . PHP_EOL;
        echo $this->headLink() . PHP_EOL;
        echo $this->headScript().PHP_EOL;
        ?>
        <link href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>
        <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->

        <!-- JS -->


    </head>
    <body>
        <?php echo $this->render('headerIndex.phtml'); ?>
        <?php echo $this->layout()->content ?>
        <?php echo $this->render('footerIndex.phtml'); ?>
    </body>
</html>
