                <!-- nav -->
				<ul id="nav" class="sf-menu">
					<li><a href="/">INICIO</a></li>
					<li><a href="/us/">NOSOTROS</a></li>
					<li><a href="/services/">SRVICIOS</a></li>
					<li><a href="/projects/">PROYECTOS</a></li>
					<li><a href="/contact/">CONTACTANOS</a></li>
				</ul>
				<div id="combo-holder"></div>
				<!-- ends nav -->