<?php
/**
 * Main layout
 *
 * @author Adrian Ancona Novelo <soonick5@yahoo.com.mx>
 */

$this->headLink()->appendStylesheet('/css/panel.css');
$this->headScript()->appendFile('/js/jQuery.js');
$this->headScript()->appendFile('/js/general.js');
echo $this->doctype().PHP_EOL;
?>

<html>
<head>
<?php
    echo $this->headTitle().PHP_EOL;
    echo $this->headMeta().PHP_EOL;
    echo $this->headLink().PHP_EOL;
    echo $this->headScript().PHP_EOL;
?>
</head>
<body>
    <?php echo $this->render('header.phtml'); ?>
    <?php echo $this->render('menu.phtml'); ?>
    <?php echo $this->layout()->content ?>
    <?php echo $this->render('footer.phtml'); ?>
</body>
</html>